<% if @plan %>
  <h1>
    Selected Plan <%= @plan.amount %> / <%= @plan.period %> 
  </h1>
<% end %>
<%= form_for @order do |f| %>
  <%= f.hidden_field :recuring %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <% if @plan %>
    <%= f.hidden_field :plan_id, value: @plan.id %>
  <% end %>
  <% if @order.express_token.blank? %>
    <p>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :card_type %><br />
      <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
    </p>
    <p>
      <%= f.label :card_number %><br />
      <%= f.text_field :card_number %>
    </p>
    <p>
      <%= f.label :amount %><br />
      <%= f.text_field :amount, disabled: true %>
    </p>
    <p>
      <%= f.label :card_verification, "Card Verification Value (CVV)" %><br />
      <%= f.text_field :card_verification %>
    </p>
    <p>
      <%= f.label :card_expires_on %><br />
      <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
    </p>
  <% else %> 
    <%= f.hidden_field :express_token %>
    <p>Name: <%=h @order.first_name %> <%=h @order.last_name %></p>
    <p>TODO Display order confirmation details</p>
  <% end %>
  <p><%= f.submit "Complete" %></p>
<% end %>
<%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), get_checkout_path() %>